.TableLoader {
    width: 100%;
    border-collapse: collapse;
  }
  
  .Table {
    width: 100%;
    border-spacing: 0;
  }
  
  .TableHead{
    padding: 10px 15px;
    text-align: left;
    background-color: #f1f7f9;
    border-bottom: 1.5px solid #dadfe7;
  }

  .TableData {
    padding: 18px 15px;
    text-align: left;
    border-bottom: 1.5px solid #dadfe7;
    background-color: white;
  }
  
  .Skeleton {
    display: inline-block;
    height: 16px;
    width: 100%;
    background: linear-gradient(90deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    border-radius: 4px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
  }
  
  .SkeletonHeader {
    height: 20px;
    width: 60%;
    margin: 0 auto;
  }
  
  .SkeletonCell {
    height: 16px;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  