.Table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0;
}

.TableHead{
    background-color: #f1f7f9;
    color: #4d626c;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    border-bottom: 1.5px solid #dadfe7;
}

.TableData{
    background-color: white;
    border-bottom: 1.5px solid #dadfe7;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 18px 15px;
}
